.buton-acasa {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: green;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.buton-acasa:hover {
    background-color: darkgreen;
    cursor: pointer;
}

body {
    background-image: url('StockSnap_NIAVO332U3.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.page-container {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: white;
    background-color: green;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    padding: 10px 20px;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495e;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.rețete {
    margin: 30px;
}

.rețeta {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.rețeta-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.rețeta h2 {
    font-size: 40px;
    color: #2c3e50;
}

.rețeta p {
    font-size: 1rem;
    color: #34495e;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
